.launcher-app {
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  margin: 0.5em;
  animation: appZoomIn 0.5s ease-in-out;

  .icon {
    height: 5em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;

    &.icon--stats {
      background-image: url('/icon-stats.png');
    }
    &.icon--d20 {
      background-image: url('/icon-d20.png');
    }
    &.icon--google {
      background-image: url('/icon-google.png');
    }
  }

  .label {
    font-size: 18px;
    font-weight: 500;
  }
}

@keyframes appZoomIn {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}