
.app.home .search-bar {
  margin: 1em;
  background-color: white;
  width: 280px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 2px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  cursor: text;
  display: flex;
  justify-content: space-between;
}

.app.home .googax {
  color: rgba(0, 0, 0, 0.5);
  font-family: "Lato", serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  border: none;
  padding: 0.25em 0.5em;
}

.material-icons.mic {
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 0, 0.7);
  top: 7px;
  cursor: pointer;
  font-size: 22px;
}

.clock {
  display: block;
  position: relative;
  background-color: transparent;
  height: 150px;
  width: 200px;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-bottom: 2em;
}

.clock .time-main {
  display: block;
  color: white;
  text-align: center;
  font-size: 48px;
  font-weight: 100;
  position: relative;
  top: 25px;
}

.clock .day {
  display: block;
  color: white;
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: 100;
}

.playstore {
  position: relative;
  height: 42px;
  width: 42px;
  top: 130px;
  left: 230px;
}

.play-text {
  color: white;
  font-weight: 100;
  font-size: 12px;
  display: inline-block;
  position: relative;
  top: 130px;
  left: 225px;
  user-select: none;
  cursor: pointer;
}

.launcher-apps {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}