.lockscreen {
  position: relative;
  width: 100%;
  height: 100%;
}

.lock-icon {
  background-image: url('/lock.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 8em;
  width: 8em;
}

.message {
  background: rgba(255, 255, 255, 0.75);
  color: #222;
  padding: 1em;
  border-radius: 5px;
  &.error {
    color: #BB4444;
  }
}