.nav-bar {
    height: 35px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 2em;
  }
  
  .nav-bar .back {
    height: 20px;
    width: 20px;
    background-color: transparent;
    position: relative;
    display: inline-block;
  }
  
  .nav-bar .back span {
    content: "";
    display: inline-block;
    background-color: white;
    width: 15px;
    height: 2.3px;
    position: absolute;
    border-radius: 2px;
    cursor: pointer;
  }
  
  .nav-bar .back span:nth-child(1) {
    transform-origin: left center;
    transform: rotate(-35deg);
    top: 9px;
  }
  
  .nav-bar .back span:nth-child(2) {
    transform-origin: left center;
    transform: rotate(35deg);
    top: 8px;
  }
  
  .nav-bar .back span:nth-child(3) {
    transform-origin: right center;
    transform: rotate(-90deg);
    width: 17.5px;
    left: -4.7px;
    top: -1px;
  }
  
  .nav-bar .home {
    border: 2px solid white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .nav-bar .recent {
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 2px;
    cursor: pointer;
  }