[data-tooltip]:before,[data-tooltip]:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none
}

[data-tooltip]:before {
  content: '';
  z-index: 1000001;
  background: transparent;
  border: 6px solid transparent
}

[data-tooltip]:after {
  content: attr(data-tooltip);
  visibility: hidden;
  padding: 8px 10px;
  background: #383838;
  font-size: 12px;
  color: white;
  line-height: 12px;
  white-space: nowrap
}

[data-tooltip]:hover:before,[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1
}

[data-tooltip]:before {
  margin-top: -12px;
  border-bottom-color: #383838
}

[data-tooltip]:after {
  margin-left: -18px
}

[data-tooltip]:before,[data-tooltip]:after {
  top: 100%;
  left: 50%
}

[data-tooltip]:hover:after,[data-tooltip]:hover:before,[data-tooltip]:focus:after,[data-tooltip]:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px)
}

[data-tooltip-top]:before,[data-tooltip-top]:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none
}

[data-tooltip-top]:before {
  content: '';
  z-index: 1000001;
  background: transparent;
  border: 6px solid transparent
}

[data-tooltip-top]:after {
  content: attr(data-tooltip-top);
  visibility: hidden;
  padding: 8px 10px;
  background: #383838;
  font-size: 12px;
  color: white;
  line-height: 12px;
  white-space: nowrap
}

[data-tooltip-top]:hover:before,[data-tooltip-top]:hover:after {
  visibility: visible;
  opacity: 1
}

[data-tooltip-top]:before {
  margin-bottom: -12px;
  border-top-color: #383838
}

[data-tooltip-top]:after {
  margin-left: -18px
}

[data-tooltip-top]:before,[data-tooltip-top]:after {
  bottom: 100%;
  left: 50%
}

[data-tooltip-top]:hover:after,[data-tooltip-top]:hover:before,[data-tooltip-top]:focus:after,[data-tooltip-top]:focus:before {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px)
}

[data-tooltip-bottom]:before,[data-tooltip-bottom]:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none
}

[data-tooltip-bottom]:before {
  content: '';
  z-index: 1000001;
  background: transparent;
  border: 6px solid transparent
}

[data-tooltip-bottom]:after {
  content: attr(data-tooltip-bottom);
  visibility: hidden;
  padding: 8px 10px;
  background: #383838;
  font-size: 12px;
  color: white;
  line-height: 12px;
  white-space: nowrap
}

[data-tooltip-bottom]:hover:before,[data-tooltip-bottom]:hover:after {
  visibility: visible;
  opacity: 1
}

[data-tooltip-bottom]:before {
  margin-top: -12px;
  border-bottom-color: #383838
}

[data-tooltip-bottom]:after {
  margin-left: -18px
}

[data-tooltip-bottom]:before,[data-tooltip-bottom]:after {
  top: 100%;
  left: 50%
}

[data-tooltip-bottom]:hover:after,[data-tooltip-bottom]:hover:before,[data-tooltip-bottom]:focus:after,[data-tooltip-bottom]:focus:before {
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -o-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px)
}

[data-tooltip-left]:before,[data-tooltip-left]:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none
}

[data-tooltip-left]:before {
  content: '';
  z-index: 1000001;
  background: transparent;
  border: 6px solid transparent
}

[data-tooltip-left]:after {
  content: attr(data-tooltip-left);
  visibility: hidden;
  padding: 8px 10px;
  background: #383838;
  font-size: 12px;
  color: white;
  line-height: 12px;
  white-space: nowrap
}

[data-tooltip-left]:hover:before,[data-tooltip-left]:hover:after {
  visibility: visible;
  opacity: 1
}

[data-tooltip-left]:before {
  margin-right: -12px;
  margin-bottom: -6px;
  border-left-color: #383838
}

[data-tooltip-left]:after {
  margin-bottom: -14px
}

[data-tooltip-left]:before,[data-tooltip-left]:after {
  right: 100%;
  bottom: 50%
}

[data-tooltip-left]:hover:after,[data-tooltip-left]:hover:before,[data-tooltip-left]:focus:after,[data-tooltip-left]:focus:before {
  -webkit-transform: translateX(-8px);
  -moz-transform: translateX(-8px);
  -o-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px)
}

[data-tooltip-right]:before,[data-tooltip-right]:after {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  position: absolute;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none
}

[data-tooltip-right]:before {
  content: '';
  z-index: 1000001;
  background: transparent;
  border: 6px solid transparent
}

[data-tooltip-right]:after {
  content: attr(data-tooltip-right);
  visibility: hidden;
  padding: 8px 10px;
  background: #383838;
  font-size: 12px;
  color: white;
  line-height: 12px;
  white-space: nowrap
}

[data-tooltip-right]:hover:before,[data-tooltip-right]:hover:after {
  visibility: visible;
  opacity: 1
}

[data-tooltip-right]:before {
  margin-bottom: -6px;
  margin-left: -12px;
  border-right-color: #383838
}

[data-tooltip-right]:after {
  margin-bottom: -14px
}

[data-tooltip-right]:before,[data-tooltip-right]:after {
  bottom: 50%;
  left: 100%
}

[data-tooltip-right]:hover:after,[data-tooltip-right]:hover:before,[data-tooltip-right]:focus:after,[data-tooltip-right]:focus:before {
  -webkit-transform: translateX(8px);
  -moz-transform: translateX(8px);
  -o-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px)
}